#bottom{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    background-color: #87ceeb;
    position: relative;
}
#bottom-child01, #bottom-child02, #bottom-child03{
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}
#bottom-child02{
    position: absolute;
    left: 200px;
}
#bottom-child03{
    position: absolute;
    left: 400px;
    top: 200px;
}